<a href="https://colab.research.google.com/github/abitarafan/Intro-DataScience-21/blob/main/MiniProject2_IntDS21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Gaussian Naive Bayesian Algorithm**

In [5]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [6]:
# Loading students dataset
df = pd.read_csv("student-data.csv")
df.head()

          ID  Week2_Quiz1  Week3_MP1  ...  Week9_Stat2  Week9_Stat3  Grade
0  ML-2020-1         5.00       15.0  ...            1            0      4
1  ML-2020-2         3.33       15.0  ...            2            5      4
2  ML-2020-3         1.67       13.0  ...            1            0      3
3  ML-2020-4         2.50       14.0  ...            0            0      3
4  ML-2020-6         0.00       15.0  ...            1            0      2

[5 rows x 48 columns]

In [3]:
df.isnull().sum()

ID             0
Week2_Quiz1    0
Week3_MP1      0
Week3_PR1      0
Week5_MP2      0
Week5_PR2      0
Week7_MP3      0
Week7_PR3      0
Week4_Quiz2    0
Week6_Quiz3    0
Week8_Total    0
Week1_Stat0    0
Week1_Stat1    0
Week1_Stat2    0
Week1_Stat3    0
Week2_Stat0    0
Week2_Stat1    0
Week2_Stat2    0
Week2_Stat3    0
Week3_Stat0    0
Week3_Stat1    0
Week3_Stat2    0
Week3_Stat3    0
Week4_Stat0    0
Week4_Stat1    0
Week4_Stat2    0
Week4_Stat3    0
Week5_Stat0    0
Week5_Stat1    0
Week5_Stat2    0
Week5_Stat3    0
Week6_Stat0    0
Week6_Stat1    0
Week6_Stat2    0
Week6_Stat3    0
Week7_Stat0    0
Week7_Stat1    0
Week7_Stat2    0
Week7_Stat3    0
Week8_Stat0    0
Week8_Stat1    0
Week8_Stat2    0
Week8_Stat3    0
Week9_Stat0    0
Week9_Stat1    0
Week9_Stat2    0
Week9_Stat3    0
Grade          0
dtype: int64

In [7]:
df.describe()

       Week2_Quiz1   Week3_MP1  ...  Week9_Stat3       Grade
count   107.000000  107.000000  ...   107.000000  107.000000
mean      2.406636    7.949626  ...     0.046729    2.074766
std       2.000317    6.892312  ...     0.483368    1.993863
min       0.000000    0.000000  ...     0.000000    0.000000
25%       0.000000    0.000000  ...     0.000000    0.000000
50%       3.330000   12.000000  ...     0.000000    3.000000
75%       4.170000   14.305000  ...     0.000000    4.000000
max       5.000000   15.000000  ...     5.000000    5.000000

[8 rows x 47 columns]

In [6]:
df.shape

(107, 48)

In [7]:
clf = GaussianNB()

array = df.values
x = array[:,1:47]
y = array[:,47]

In [8]:
y = y.astype('int')

In [9]:
print("input=", x)
print("output= ", y)

input= [[5.0 15.0 5.0 ... 6 1 0]
 [3.33 15.0 5.0 ... 3 2 5]
 [1.67 13.0 5.0 ... 0 1 0]
 ...
 [0.0 0.0 0.0 ... 0 0 0]
 [0.0 0.0 0.0 ... 0 0 0]
 [0.0 0.0 0.0 ... 0 0 0]]
output=  [4 4 3 3 2 3 0 5 4 3 0 0 5 5 4 5 4 4 0 0 0 3 4 0 4 3 2 3 0 4 3 5 0 0 4 0 5
 3 0 3 4 5 3 5 4 4 3 4 2 5 4 3 5 4 2 5 2 0 0 4 0 0 3 4 3 0 4 3 0 3 4 5 4 4
 5 4 4 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [10]:
# Validation dataset

validation_size = 0.33

In [11]:
seed = 6
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(x, y, test_size=validation_size, random_state=seed)

# Test evaluation metric
scoring = 'accuracy'

In [12]:
#Fitting training set
clf.fit(X_train, Y_train)

#Predicting Test set
pred_clf = clf.predict(X_validation)

#Prediction Probability
prob_pos_clf = clf.predict_proba(X_validation)[:, 1]

In [16]:
#Reshapig prediction dataframe to insert prediction results
pred_clf_df = pd.DataFrame(pred_clf.reshape(36,1))
pred_clf_df.rename(columns={0:'Grade'}, inplace=True)

#Reshaping the test dataset
X_validation_df = pd.DataFrame(X_validation.reshape(36,46))

In [17]:
#Concatenating the two pandas DataFrames over the columns to create a prediction dataset
pred_outcome = pd.concat([X_validation_df, pred_clf_df], axis=1)
pred_outcome = pred_outcome.reindex(X_validation_df.index)

In [31]:
pred_outcome.set_axis(df.columns, axis=1, inplace=True)

In [27]:
del df['ID']

In [40]:
#Merging the prediction with original dataset
pred_comp = pd.merge(df,pred_outcome)

In [44]:
print((pred_comp).head(10))

print("\n")

#Save the file to csv
pred_comp.to_csv('Predictions.csv', sep=',')


#Save the file to Excel
from pandas import ExcelWriter

writer = ExcelWriter('GradesPredictions.xlsx')
pred_comp.to_excel(writer,'Sheet1')
writer.save()

  Week2_Quiz1 Week3_MP1 Week3_PR1  ... Week9_Stat2 Week9_Stat3 Grade
0        1.67        13         5  ...           1           0     4
1        4.17        15         5  ...           0           0     4
2        3.33         0         0  ...           0           0     0
3           0         0         0  ...           0           0     0
4        3.33        14         5  ...           0           0     3
5        3.32        15         5  ...           0           0     4
6        4.17        15         5  ...           0           0     3
7           0         0         0  ...           0           0     0
8           5        15         5  ...           3           0     4
9           0         0         0  ...           0           0     0

[10 rows x 47 columns]

In [47]:
#Model Performance
#setting performance parameters
kfold = model_selection.KFold(n_splits=10)

#calling the cross validation function
cv_results = model_selection.cross_val_score(GaussianNB(), X_train, Y_train, cv=kfold, scoring=scoring)

#displaying the mean and standard deviation of the prediction
msg = "%s: %f (%f)" % ('NB accuracy', cv_results.mean(), cv_results.std())
print(msg)

NB accuracy: 0.573214 (0.223671)

**Random Forest Classifier**

In [51]:
from sklearn.ensemble import RandomForestClassifier
import numpy as np

In [52]:
np.random.seed(0)

In [55]:
df.head()

   Week2_Quiz1  Week3_MP1  Week3_PR1  ...  Week9_Stat2  Week9_Stat3  Grade
0         5.00       15.0        5.0  ...            1            0      4
1         3.33       15.0        5.0  ...            2            5      4
2         1.67       13.0        5.0  ...            1            0      3
3         2.50       14.0        5.0  ...            0            0      3
4         0.00       15.0        5.0  ...            1            0      2

[5 rows x 47 columns]

In [56]:
df['is_train'] = np.random.uniform(0, 1, len(df)) <= .75

In [57]:
df.head()

   Week2_Quiz1  Week3_MP1  Week3_PR1  ...  Week9_Stat3  Grade  is_train
0         5.00       15.0        5.0  ...            0      4      True
1         3.33       15.0        5.0  ...            5      4      True
2         1.67       13.0        5.0  ...            0      3      True
3         2.50       14.0        5.0  ...            0      3      True
4         0.00       15.0        5.0  ...            0      2      True

[5 rows x 48 columns]

In [58]:
# Create two new dataframes, one with the training rows, one with the test rows
train, test = df[df['is_train']==True], df[df['is_train']==False]

In [59]:
# Show the number of observations for the test and training dataframes
print('Number of observations in the training data:', len(train))
print('Number of observations in the test data:',len(test))

Number of observations in the training data: 86
Number of observations in the test data: 21

In [61]:
# Create a list of the feature column's names
features = df.columns[:-2]

# View features
features

Index(['Week2_Quiz1', 'Week3_MP1', 'Week3_PR1', 'Week5_MP2', 'Week5_PR2',
       'Week7_MP3', 'Week7_PR3', 'Week4_Quiz2', 'Week6_Quiz3', 'Week8_Total',
       'Week1_Stat0', 'Week1_Stat1', 'Week1_Stat2', 'Week1_Stat3',
       'Week2_Stat0', 'Week2_Stat1', 'Week2_Stat2', 'Week2_Stat3',
       'Week3_Stat0', 'Week3_Stat1', 'Week3_Stat2', 'Week3_Stat3',
       'Week4_Stat0', 'Week4_Stat1', 'Week4_Stat2', 'Week4_Stat3',
       'Week5_Stat0', 'Week5_Stat1', 'Week5_Stat2', 'Week5_Stat3',
       'Week6_Stat0', 'Week6_Stat1', 'Week6_Stat2', 'Week6_Stat3',
       'Week7_Stat0', 'Week7_Stat1', 'Week7_Stat2', 'Week7_Stat3',
       'Week8_Stat0', 'Week8_Stat1', 'Week8_Stat2', 'Week8_Stat3',
       'Week9_Stat0', 'Week9_Stat1', 'Week9_Stat2', 'Week9_Stat3'],
      dtype='object')

In [62]:
y = pd.factorize(train['Grade'])[0]

y

array([0, 0, 1, 1, 2, 1, 3, 1, 3, 4, 0, 4, 0, 0, 0, 1, 2, 3, 0, 1, 3, 3,
       0, 3, 4, 1, 1, 0, 4, 1, 4, 0, 0, 1, 0, 2, 4, 0, 1, 0, 2, 4, 2, 3,
       3, 0, 3, 3, 1, 0, 1, 3, 1, 1, 4, 0, 4, 0, 0, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3])

In [63]:
# Create a random forest Classifier. By convention, clf means 'Classifier'
clf = RandomForestClassifier(n_jobs=2, random_state=0)

# Train the Classifier to take the training features and learn how they relate
# to the training y (the species)
clf.fit(train[features], y)

RandomForestClassifier(n_jobs=2, random_state=0)

In [64]:
# Apply the Classifier we trained to the test data (which, remember, it has never seen before)
clf.predict(test[features])

array([0, 0, 3, 0, 0, 3, 3, 3, 1, 3, 1, 0, 3, 0, 0, 3, 0, 0, 3, 3, 3])

In [67]:
# View the predicted probabilities of the first 10 observations
clf.predict_proba(test[features])[0:10]

array([[0.55, 0.09, 0.03, 0.02, 0.31],
       [0.53, 0.08, 0.12, 0.17, 0.1 ],
       [0.  , 0.  , 0.  , 1.  , 0.  ],
       [0.4 , 0.21, 0.04, 0.01, 0.34],
       [0.36, 0.36, 0.06, 0.01, 0.21],
       [0.  , 0.01, 0.  , 0.98, 0.01],
       [0.1 , 0.2 , 0.1 , 0.56, 0.04],
       [0.  , 0.  , 0.  , 1.  , 0.  ],
       [0.18, 0.46, 0.16, 0.11, 0.09],
       [0.  , 0.  , 0.  , 1.  , 0.  ]])

In [68]:
test['Grade'].head()

7     5
8     4
10    0
13    5
17    4
Name: Grade, dtype: int64

In [73]:
preds = clf.predict(test[features])

In [75]:
pd.crosstab(test['Grade'], preds, rownames=['Grade'], colnames=['Predicted Grade'])

Predicted Grade  0  1   3
Grade
0                0  0  10
3                0  2   0
4                5  0   0
5                4  0   0

In [76]:
list(zip(train[features], clf.feature_importances_))

[('Week2_Quiz1', 0.0175847953268439),
 ('Week3_MP1', 0.0710560384632133),
 ('Week3_PR1', 0.03680884704273773),
 ('Week5_MP2', 0.09317668841200528),
 ('Week5_PR2', 0.03984644810121708),
 ('Week7_MP3', 0.08084513982983008),
 ('Week7_PR3', 0.030426427179139844),
 ('Week4_Quiz2', 0.03799619536722044),
 ('Week6_Quiz3', 0.03385327091894513),
 ('Week8_Total', 0.14343157346391278),
 ('Week1_Stat0', 0.010871821059133611),
 ('Week1_Stat1', 0.0),
 ('Week1_Stat2', 0.007421171039525859),
 ('Week1_Stat3', 0.0010885870736759133),
 ('Week2_Stat0', 0.013734173264656544),
 ('Week2_Stat1', 0.013528786177248054),
 ('Week2_Stat2', 0.005937292013249698),
 ('Week2_Stat3', 0.005441800062281174),
 ('Week3_Stat0', 0.024189157582023908),
 ('Week3_Stat1', 0.007838605927657278),
 ('Week3_Stat2', 0.0023001961204484186),
 ('Week3_Stat3', 0.0068873636253939585),
 ('Week4_Stat0', 0.010183350009642347),
 ('Week4_Stat1', 0.017321791804010552),
 ('Week4_Stat2', 0.008157745109007113),
 ('Week4_Stat3', 0.004153254528631601),
 ('Week5_Stat0', 0.020485203474672763),
 ('Week5_Stat1', 0.05158157276351292),
 ('Week5_Stat2', 0.007381946033602503),
 ('Week5_Stat3', 0.005881678457824489),
 ('Week6_Stat0', 0.01477591081049968),
 ('Week6_Stat1', 0.035094727370027286),
 ('Week6_Stat2', 0.010518383259764064),
 ('Week6_Stat3', 0.004693231005800119),
 ('Week7_Stat0', 0.020259553655496098),
 ('Week7_Stat1', 0.014502853956630066),
 ('Week7_Stat2', 0.003616798093153041),
 ('Week7_Stat3', 0.005764157963212103),
 ('Week8_Stat0', 0.01733868563691331),
 ('Week8_Stat1', 0.015257056367092443),
 ('Week8_Stat2', 0.0025923172750380976),
 ('Week8_Stat3', 0.005404589628733419),
 ('Week9_Stat0', 0.026355772221657837),
 ('Week9_Stat1', 0.010063781199642505),
 ('Week9_Stat2', 0.004351261325075629),
 ('Week9_Stat3', 0.0)]